{% extends "index.html" %}
{% load static %}

{% block container %}

<style>
.pagination > li > a{
    background-color: white;
    color: #212529;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover{
    color: #212529;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a{
    color: white;
    background-color: #495057 !Important;
    border: solid 1px #495057 !Important;
}

.pagination > .active > a:hover{
    background-color: #495057 !Important;
    border: solid 1px #495057;
}

#table-header{
    background-color: #495057;
    color: #F5F7FA;
}

#table-filter-header{
    background-color: #495057;
    color: #F5F7FA;
}

.grey-bg {
    background-color: #F5F7FA;
}

.nav-container {
  position:relative;
}

.table-hover{
    font-size: 14px;
}

</style>

<div class="grey-bg container-fluid px-4 py-3">

    <div class="card mb-4">

        <div class="card-header" id="table-filter-header">
            Filteri
        </div>

        <div class="card-body">
            <div class="row">
             <div class="row align-items-center">
  <div class="col-sm mb-3 mb-sm-0">
    <h3 class="mb-0">90 jobs for <span class="fw-normal">UK</span></h3>
  </div>

  <div class="col-sm-auto">
    <div class="d-sm-flex justify-content-sm-end align-items-center">
      <!-- Select -->
      <div class="mb-2 mb-sm-0 me-sm-2">
        <select class="form-select form-select-sm">
          <option value="True" selected>klima</option>
          <option value="True">Most wifi</option>
        </select>
      </div>
      <!-- End Select -->

      <!-- Select -->

      <!-- End Select -->

      <!-- Nav -->
      <ul class="nav nav-segment">
        <li class="nav-item">
          <a class="nav-link active" href="../demo-jobs/job-grid.html">
            <i class="bi-grid-fill"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../demo-jobs/job-list.html">
            <i class="bi-list"></i>
          </a>
        </li>
      </ul>
      <!-- End Nav -->
    </div>
  </div>
</div>
<!-- End Row -->
            </div>
        </div>
    </div>

    <div class="card mb-0">

        <div class="card-header" id="table-header">
            <i class="fas fa-table me-1"></i>
            Lista prostora
        </div>

        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Gradska četvrt</th>
                        <th scope="col">Mjesni odbor</th>
                        <th scope="col">Tip prostora</th>
                        <th scope="col">Površina [m2]</th>
                        <th scope="col">Naziv</th>
                        <th scope="col">Adresa prostora</th>
                        <th scope="col">Sanitarni čvor</th>
                        <th scope="col">Grijanje</th>
                        <th scope="col">Klima</th>
                        <th scope="col">Wifi</th>
                        <th scope="col">Detalji</th>
                    </tr>
                </thead>
                <tbody>
                    {% for prostor in prostori %}
                    <tr>
                        <td>{{prostor.mjesniodbor.gradska_cetvrt.ime}}</td>
                        <td>{{prostor.mjesniodbor.ime}}</td>
                        <td>{{prostor.tipprostora.ime}}</td>
                        <td>{{prostor.povrsina}}</td>
                        <td>{{prostor.ime}}</td>
                        <td>{{prostor.address}}</td>
                        {% if prostor.sanitarni %}
                            <td> <i class='bx bx-check' style='font-size: 22px; margin-left: 18px;'></i> </td>
                        {% else %}
                            <td> <i class='bx bx-x' style='font-size: 22px; margin-left: 18px;'></i> </td>
                        {% endif%}

                        {% if prostor.grijanje %}
                            <td> <i class='bx bx-check' style='font-size: 22px; margin-left: 18px;'></i> </td>
                        {% else %}
                            <td> <i class='bx bx-x' style='font-size: 22px; margin-left: 18px;'></i> </td>
                        {% endif%}

                        {% if prostor.klima %}
                            <td> <i class='bx bx-check' style='font-size: 22px; margin-left: 18px;'></i> </td>
                        {% else %}
                            <td> <i class='bx bx-x' style='font-size: 22px; margin-left: 18px;'></i> </td>
                        {% endif%}

                        {% if prostor.wifi %}
                            <td> <i class='bx bx-check' style='font-size: 22px; margin-left: 18px;'></i> </td>
                        {% else %}
                            <td> <i class='bx bx-x' style='font-size: 22px; margin-left: 18px;'></i> </td>
                        {% endif%}

                        <td><a class="btn btn-outline-dark btn-sm" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                              <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                            </svg>
                            </a>
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <!-- Pagination -->
    <nav>
        {% if prostori.has_other_pages %}
        <ul class="pagination">
            {% if prostori.has_previous %}
            <a href="?page=1" class="btn btn-outline-secondary mb-4" style="border-radius: 19x; border: 1px solid #d3d3d3;">Prva</a>
            <li class="page-item"><a class="page-link" href="?page={{ prostori.previous_page_number}}"><i class='bx bx-chevrons-left'></i></a></li>
            {% else %}
            <li class="page-item disabled"></li>
            {% endif %}

            {% for i in prostori.paginator.page_range %}
                {% if prostori.number == i %}
                <li class="page-item active"><span class="page-link">{{ i }}<span class="sr-only"></span></span></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}

            {% if prostori.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ prostori.next_page_number}}"><i class='bx bx-chevrons-right'></i></a></li>
            <a href="?page={{ prostori.paginator.num_pages}}" class="btn btn-outline-secondary mb-4" style="border-radius: 19x; border: 1px solid #d3d3d3; border-left: none;">Zadnja</a>
            {% else %}
            <li class="page-item disabled"></li>
            {% endif %}

        </ul>
        {% endif %}

    </nav>
<br><br><br>




        </div>
    </div>
</div>

{% endblock %}